@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1.5rem);
  }
  100% {
    transform: translateX(0rem);
  }
}
@keyframes moveInright {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1.5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translatey(6rem);
  }
  100% {
    transform: translatey(0rem);
  }
}
.btn, .btn:link, .btn:visited {
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 5rem;
  transition: all 0.2s;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.588);
  position: relative;
  font-size: 2rem;
  border: none;
  cursor: pointer;
}
.btn-white {
  background-color: white;
  color: gray;
}
.btn-purple {
  background-color: rgba(87, 19, 92, 0.8);
  color: rgb(255, 255, 255);
}
.btn:hover {
  transform: translatey(-0.5rem);
}
.btn:hover::after {
  transform: scale(1.5);
  opacity: 0;
}
.btn:active {
  transform: translatey(-0.2rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.588);
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 10rem;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s;
}
.btn-white::after {
  background-color: rgb(255, 255, 255);
}
.btn-purple::after {
  background-color: rgba(87, 19, 92, 0.8);
}
.btn-animation {
  animation: moveInBottom 1s ease-out;
}

.btn-text:link, .btn-text:visited {
  font-size: 2rem;
  color: rgba(87, 19, 92, 0.8);
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid rgba(87, 19, 92, 0.8);
  padding: 10px 20px;
  transition: all 0.2s;
}
.btn-text:hover {
  background-color: rgba(87, 19, 92, 0.8);
  color: white;
  padding: 10px 20px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.588);
  transform: translatey(-2px);
}
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.588);
  transform: translatey(0px);
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  padding: 3rem;
  font-weight: 700;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to left top, rgba(20, 6, 74, 0.8), rgba(34, 19, 92, 0.8), rgba(87, 19, 92, 0.8), rgba(154, 72, 159, 0.8), rgba(211, 105, 149, 0.8)), url(../images/header-BG.jpg);
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}

.logo {
  height: 3.5rem;
}
.logo-box {
  position: absolute;
  top: 3rem;
  left: 3rem;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

body {
  font-family: "Courier New", monospace;
}

.heading-primary {
  color: white;
  text-transform: capitalize;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}
.heading-primary-main {
  display: block;
  font-size: 6rem;
  letter-spacing: 3.5rem;
  animation: moveInLeft 1s ease-out;
}
.heading-primary-sub {
  display: block;
  font-size: 2rem;
  letter-spacing: 1.35rem;
  animation: moveInright 1s ease-out;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, rgba(20, 6, 74, 0.8), rgba(87, 19, 92, 0.8), rgba(211, 105, 149, 0.8));
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}
.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgb(130, 130, 130);
}

.heading-tertiary {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.paragraph {
  font-size: 2rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.section-about {
  background-color: rgb(239, 239, 239);
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to left top, rgba(20, 6, 74, 0.8), rgba(34, 19, 92, 0.8), rgba(87, 19, 92, 0.8), rgba(154, 72, 159, 0.8), rgba(211, 105, 149, 0.8)), url(../images/sectionfeatures-BG.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -11.1rem;
}
.section-features > * {
  transform: skewY(7deg);
}

.section-tours {
  background-color: rgb(239, 239, 239);
  padding: 25rem 0 15rem 0;
  margin-top: -11.1rem;
}

.section-stories {
  position: relative;
  padding: 15rem 0;
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, rgba(20, 6, 74, 0.8), rgba(34, 19, 92, 0.8), rgba(87, 19, 92, 0.8), rgba(154, 72, 159, 0.8), rgba(211, 105, 149, 0.8));
}

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.7) 50%, transparent 50%), url(../../images/sectionbook-img.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.588);
  height: 50rem;
}
.book-form {
  width: 50%;
  padding: 5rem;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=c-] {
  float: left;
}
.row [class^=c-]:not(:last-child) {
  margin-right: 6rem;
}
.row .c-1of2 {
  width: calc((100% - 6rem) / 2);
}
.row .c-1of3 {
  width: calc((100% - 2*6rem) / 3);
}
.row .c-2of3 {
  width: calc(2* ((100% - 2*6rem)/3) + 6rem);
}
.row .c-1of4 {
  width: calc((100% - 3*6rem) / 4);
}
.row .c-2of4 {
  width: calc(2* ((100% - 3*6rem)/4) + 6rem);
}
.row .c-3of4 {
  width: calc(3* ((100% - 3*6rem)/4) + 2*6rem);
}

.u-center-class {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.u-margin-bottom-meduim {
  margin-bottom: 4rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-top-big {
  margin-top: 8rem;
}

.u-margin-top-huge {
  margin-top: 10rem;
}

.u-margin-top-medium {
  margin-top: 7rem;
}

.composition {
  position: relative;
  margin-top: 50px;
}
.composition-photo {
  width: 65%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.588);
  position: absolute;
  z-index: 0;
  transition: all 0.2s;
  outline-offset: 2rem;
}
.composition-photo:hover {
  outline: 1.5rem solid rgb(103, 57, 105);
  transform: scale(1.25) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.composition-p1 {
  left: 0;
  top: -2rem;
}
.composition-p2 {
  right: 0;
  top: 2rem;
}
.composition-p3 {
  left: 20%;
  top: 10rem;
}
.composition:hover .composition-photo:not(:hover) {
  transform: scale(0.95);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}
.feature-box-icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  display: inline-block;
  background-image: linear-gradient(to right, rgba(20, 6, 74, 0.8), rgba(87, 19, 92, 0.8), rgba(211, 105, 149, 0.8));
  -webkit-background-clip: text;
  color: transparent;
}
.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
}
.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 58rem;
}
.card-side {
  height: 58rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.588);
}
.card-side-front {
  background-color: rgb(255, 255, 255);
}
.card-side-back {
  transform: rotateY(180deg);
}
.card-side-back-1 {
  background-image: linear-gradient(to right bottom, rgb(190, 149, 173), rgb(116, 23, 77));
}
.card-side-back-2 {
  background-image: linear-gradient(to right bottom, rgb(116, 23, 77), rgb(82, 26, 134));
}
.card-side-back-3 {
  background-image: linear-gradient(to right bottom, rgb(127, 59, 190), rgb(31, 39, 158));
}
.card:hover .card-side-front {
  transform: rotateY(-180deg);
}
.card:hover .card-side-back {
  transform: rotateY(0);
}
.card-pic {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.card-pic-1 {
  background-image: linear-gradient(to right bottom, rgb(150, 60, 112), rgb(116, 23, 77)), url(../../images/about-img2.jpg);
}
.card-pic-2 {
  background-image: linear-gradient(to right bottom, rgb(116, 23, 77), rgb(82, 26, 134)), url(../../images/about-img3.jpg);
}
.card-pic-3 {
  background-image: linear-gradient(to right bottom, rgb(82, 26, 134), rgb(31, 39, 158)), url(../../images/about-img1.jpg);
}
.card-heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: rgb(55, 30, 30);
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
}
.card-heading-span {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 1rem 0;
  color: white;
  line-height: 5rem;
}
.card-heading-span-1 {
  background-image: linear-gradient(to right bottom, rgba(116, 23, 77, 0.8), rgba(190, 149, 173, 0.8));
}
.card-heading-span-2 {
  background-image: linear-gradient(to right bottom, rgba(116, 23, 77, 0.8), rgba(82, 26, 134, 0.8));
}
.card-heading-span-3 {
  background-image: linear-gradient(to right bottom, rgba(82, 26, 134, 0.8), rgba(31, 39, 158, 0.8));
}
.card-details {
  padding: 1rem;
}
.card-details ul {
  list-style: none;
  width: 80%;
}
.card-details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  margin: 0 auto;
}
.card-details ul li:not(:last-child) {
  border-bottom: 1px solid gray;
}
.card-cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}
.card-price-box {
  text-align: center;
  color: white;
  margin-bottom: 8rem;
}
.card-price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.card-price-value {
  font-size: 6rem;
  font-weight: 100;
}

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 2rem;
  transform: skewX(-12deg);
}
.story-shape {
  width: 15rem;
  height: 15rem;
  background-color: rgb(53, 81, 86);
  float: left;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  transform: translateX(-3rem) skewX(12deg);
  position: relative;
}
.story-img {
  height: 100%;
  transform: translateX(-4rem) scale(1.4);
  backface-visibility: hidden;
  transition: all 0.5s;
}
.story-text {
  transform: skewX(12deg);
}
.story-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  color: white;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
  backface-visibility: hidden;
}
.story:hover .story-caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.story:hover .story-img {
  transform: translateX(-4rem) scale(1);
  filter: blur(3px) brightness(80%);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -6;
  opacity: 0.5;
  overflow: hidden;
}
.bg-video-content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.form-group:not(:last-child) {
  margin-top: -1rem;
}
.form-input {
  font-family: inherit;
  color: inh;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 70%;
  display: block;
  transition: all 0.3s;
}
.form-input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  border-bottom: 3px solid rgb(126, 44, 132);
}
.form-input:focus:invalid {
  border-bottom: 3px solid rgb(202, 24, 48);
}
.form-input::-webkit-input-placeholder {
  color: darkgray;
}
.form-label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}
.form-input:placeholder-shown + .form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form-radio-group {
  width: 40%;
  display: inline-block;
}
.form-radio-input {
  display: none;
}
.form-radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 5rem;
}
.form-radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid rgba(87, 19, 92, 0.8);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}
.form-radio-button::after {
  content: "";
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(87, 19, 92, 0.8);
  opacity: 0;
  transition: opacity 0.2s;
}
.form-radio-button:checked ~ .form-radio-label .form-radio-button::after {
  opacity: 1;
}

.footer {
  background-color: rgb(44, 44, 44);
  padding: 10rem 0;
  font-size: 1.4rem;
  color: lightgray;
}
.footer-logo-box {
  text-align: center;
  margin-bottom: 8rem;
}
.footer-logo {
  width: 15rem;
  height: auto;
}
.footer-navigation {
  border-top: 1px solid lightgray;
  padding-top: 2rem;
  display: inline-block;
}
.footer-list {
  list-style: none;
  padding: 0;
}
.footer-item {
  display: inline-block;
}
.footer-item:not(:last-child) {
  margin-right: 1.5rem;
}
.footer-link:link, .footer-link:visited {
  background-color: rgb(44, 44, 44);
  color: lightgray;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s;
}
.footer-link:hover, .footer-link:active {
  color: rgb(154, 72, 159);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: rotate(5deg) scale(1.3);
}
.footer-copyright {
  border-top: 1px solid darkgray;
  padding-top: 2rem;
  width: 80%;
  float: right;
  margin: 0;
}

.navigation {
  font-weight: 700;
}
.navigation-checkbox {
  display: none;
}
.navigation-button {
  background-color: white;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 200;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  text-align: center;
  cursor: pointer;
}
.navigation-bg {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(rgb(20, 6, 74), rgb(34, 19, 92), rgb(87, 19, 92), rgb(154, 72, 159), rgb(211, 105, 149));
  z-index: 100;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.navigation-nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 150;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.2657, 1.55);
}
.navigation-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}
.navigation-item {
  margin: 4rem;
}
.navigation-link:link, .navigation-link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 220%;
  transition: all 0.4s;
}
.navigation-link:link span, .navigation-link:visited span {
  margin-right: 1rem;
  display: inline-block;
}
.navigation-link:hover, .navigation-link:active {
  background-position: 100%;
  color: rgb(87, 19, 92);
  transform: translateX(1rem);
}
.navigation-checkbox:checked ~ .navigation-bg {
  transform: scale(80);
}
.navigation-checkbox:checked ~ .navigation-nav {
  opacity: 1;
  width: 100%;
}
.navigation-icon {
  position: relative;
  margin-top: 3.5rem;
}
.navigation-icon, .navigation-icon::before, .navigation-icon::after {
  width: 3rem;
  height: 2px;
  background-color: rgb(83, 83, 83);
  display: inline-block;
}
.navigation-icon::before, .navigation-icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation-icon::before {
  top: -0.8rem;
}
.navigation-icon::after {
  top: 0.8rem;
}
.navigation-button:hover .navigation-icon::before {
  top: -1rem;
}
.navigation-button:hover .navigation-icon::after {
  top: 1rem;
}
.navigation-checkbox:checked + .navigation-button .navigation-icon {
  background-color: transparent;
}
.navigation-checkbox:checked + .navigation-button .navigation-icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation-checkbox:checked + .navigation-button .navigation-icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.popup-close:link, .popup-close:visited {
  color: darkgray;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
}
.popup-close :hover {
  color: rgba(87, 19, 92, 0.8);
}
.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  background-color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.588);
  border-radius: 3px;
  display: table;
  overflow: hidden;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.25);
  transition: all 0.5s 0.2s;
}
.popup-left {
  width: 33.333333%;
  display: table-cell;
}
.popup-right {
  width: 66.6666667%;
  display: table-cell;
  vertical-align: middle;
  padding: 3rem 5rem;
}
.popup-img {
  display: block;
  width: 100%;
}
.popup-text {
  font-size: 1.4rem;
  margin-bottom: 4rem;
  -moz-column-count: 2;
  -moz-column-gap: 4rem;
  -moz-column-rule: 1px solid lightgray;
  column-count: 2;
  column-gap: 4rem;
  column-rule: 1px solid lightgray;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}