.footer {
  background-color: rgb(44, 44, 44);
  padding: 10rem 0;
  font-size: 1.4rem;
  color: lightgray;
}
.footer-logo-box {
  text-align: center;
  margin-bottom: 8rem;
}
.footer-logo {
  width: 15rem;
  height: auto;
}
.footer-navigation {
  border-top: 1px solid lightgray;
  padding-top: 2rem;
  display: inline-block;
}
.footer-list {
  list-style: none;
  padding: 0;
}
.footer-item {
  display: inline-block;
}
.footer-item:not(:last-child) {
  margin-right: 1.5rem;
}
.footer-link:link, .footer-link:visited {
  background-color: rgb(44, 44, 44);
  color: lightgray;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s;
}
.footer-link:hover, .footer-link:active {
  color: rgb(154, 72, 159);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: rotate(5deg) scale(1.3);
}
.footer-copyright {
  border-top: 1px solid darkgray;
  padding-top: 2rem;
  width: 80%;
  float: right;
  margin: 0;
}